h1 {
    text-align: center;
}

h3 {
    font-weight: 500;
}

ol, ul {
    font-weight: 300;
    padding: 10px;
    list-style-position: inside;
}

ol {
    border: 1px solid red;
    border-radius: 15px;
}

ul {
    border: 1px dashed red;
    border-radius: 15px;
    list-style-type: upper-roman;
}

a {
    color: #003366; /* dark blue */
    text-decoration: none;
}

a:hover {
    color: #0055aa; /* medium blue */
    text-decoration: underline;
}

a:visited {
    color: #551a8b; /* purple */
}

.columns-wrapper {
    margin-bottom: 20px;
}

.left-column, .right-column {
    width: 45%;
    float: left;
}

.left-column {
    margin-right: 5%; /* Creates the gap between the two columns */
}

/* Clear float after the columns */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.bottom-link-wrapper {
    clear: both;
    width: 100%;
    margin-top: 60%;
    margin-bottom: 20px;
    /* The wrapper itself does NOT float, allowing it to be 100% width */
}

.bottom-link-wrapper a {
    float: right; /* The link itself floats to the right within its 100% wide parent */
}